*{
margin:0;
padding:0;
}
.head{
    margin-left:600px;
    padding: 20px;
    background-color: #eee;
    text-align: justify;
}
.first img,.second img,.third img{
    float: left;
    padding-right: 80px;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
p {
    display: inline;  
}
footer{
    padding:10px 2px 60px;
    background-color:rgb(85, 78, 78);
}
.images{
   float: left; 
   padding-right:20px; 
   padding-left: 5px;
}
.last{
    display: inline;
}

.button {
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    background-color: orange;
    margin-left: 780px;
}
